:root {
	--primary-bg-color:  #ffffff;
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--acent-text-color-navigation: #2196F3;
	--hero-text-color: #ffffff;
	--secondary-bg-color: #2F303A;
	--hero-button-bg: #2196F3;
	--hero-button-bg-activ: #188CE8;
	--team-bg: #F5F4FA;
	--filter-bg-color: #F5F4FA;
	--gradient-color: rgba(47, 48, 58, 0.4);
	--icon-footer-bg: rgba(255, 255, 255, 0.1);
	--icon-team-color: #AFB1B8;
}

body {
	font-family: Roboto;
	background: var(--primary-bg-color);
}
body li {
	list-style-type: none;
}

/*убираем стандартные маржены*/
h1,
h2,
h3,
h4,
p,
ul {
	margin: 0;
	padding: 0;
}



/*container*/

.container {
	box-sizing: border-box; 
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
/*MODAL*/

.backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;

	background: rgba(0, 0, 0, 0.2);

	transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;

}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.modal {

	height: 581px;
	width: 528px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background: var(--primary-bg-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.modal > button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 8px;
	right: 8px;
	margin: 0;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: var(--primary-bg-color);
	width: 30px;
	height: 30px;
	padding: 9px;
	cursor: pointer;

}

.modal .close-button {
	display: block;
	min-width: 18px;
	min-height: 18px;
}




/*HEADER*/

#header {
	border-bottom: 1px solid #ECECEC;
}

#header > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header a {
	display: flex;
}

nav {
	display: flex;
}

.navygation li {
	position: relative;
}

.navygation .activ::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;
	
	border-radius: 2px ;
	background-color: var(--acent-text-color-navigation);

}

.navygation {
	display: flex;
	/*margin-left: 93px;
	padding-bottom: 32px;
	padding-top: 32px;*/
}

.navygation a {
	display: block;
	padding-bottom: 32px;
	padding-top: 32px;

}

.contact-us {
	display: flex;
	margin-left: 305px;


}
.contact-us a {
	display: block;
	padding-bottom: 32px;
	padding-top: 32px;
}


.logo-header {
	padding-top: 6px;
	padding-bottom: 5px;
	margin-top: 24px;
	margin-bottom: 25px;

}

.logo-header img {
	display: block;
}

nav li:not(:first-child) {
	margin-left: 30px;
}

.navygation a,
.contact-us a {
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

}
.navygation a {
	color: var(--primary-text-color);

	transition-property: color;
	transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
}
.contact-us  a {
	color: var(--secondary-text-color);

	transition-property: color, fill;
	transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
}

.navygation a:hover,
.navygation a:focus,
.contact-us a:hover,
.contact-us a:focus  {
	color: var(--acent-text-color-navigation);
	fill: var(--acent-text-color-navigation);
}

.contact-us-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.contact-us-icon {
	margin-right: 10px;
	fill: currentColor;
}

/*END HEADER*/

/*HERO*/
.block-hero {
	max-width: 1600px;
	padding-top: 200px;
	padding-bottom: 200px;
	margin-left: auto;
	margin-right: auto;

	background: var(--secondary-bg-color);
	color: var(--hero-text-color);
	background-image: linear-gradient(var(--gradient-color), var(--gradient-color)), url(../images/herobackground.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/*.block-hero > .container {
	padding-top: 200px;
	padding-bottom: 200px;
}*/

.block-hero  h1 {
	text-align: center;
	text-decoration: none;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.block-hero button {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 10px 32px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--hero-text-color);
	background: var(--hero-button-bg);
	/*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);*/
	border-color: var(--hero-button-bg-activ);
	border-radius: 4px;
	cursor: pointer;

	transition-property: background, box-shadow;
	transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
}

/* изменение фона при наведении на кнопку*/

.block-hero button:hover,
.block-hero button:focus {
	background: var(--hero-button-bg-activ);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*end HERO*/


/*ОСОБЕННОСТИ*/

/* скрываем h2 который отсутствует на макете*/

.our-features {
	padding-top: 94px;
	padding-bottom: 94px;
}

.our-features h2 {
	display: none;
	/*opacity: 0;*/
}

.our-features-cards {
	display: flex;

}

.our-features-list:not(:last-child) {
	margin-right: 30px;
}

.our-features-list {
	display: block;
	width: 270px;
}

/*создаю картинки через псевдоэлементы*/

.our-features-list::before {
	content: "";
	display: block;
	height: 120px;
	width: 270px;
	
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--team-bg);
	margin-bottom: 30px;
}

.our-features-list:nth-child(1)::before {
	background-image: url(../images/antenna1.png);
}

.our-features-list:nth-child(2)::before {
	background-image: url(../images/clock.png);
}

.our-features-list:nth-child(3)::before {
	background-image: url(../images/diagram.png);
}

.our-features-list:nth-child(4)::before {
	background-image: url(../images/astronaut.png);
}

/*END создаю картинки через псевдоэлементы*/

.our-features h3 {
	display: block;
	margin-bottom: 10px;


	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-text-color);
}
.our-features p {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
}
/*END ОСОБЕННОСТИ*/ 

/*ЧЕМ МЫ ЗАНИМАЕМСЯ*/

.activity  h2 {
	text-align: center;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	color: var(--primary-text-color)
}

/*ПОЗИЦІОНУВАННЯ ТЕКСТУ ПОВЕРХ ЗОБРАЖЕНЬ*/

.activity-block {
	position: relative;
}

.activity-text > P {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: var(--hero-text-color);
}

.activity-text {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;

	padding-top: 27px;
	padding-right: 82px;
	padding-bottom: 27px;
	padding-left: 83px;

	background-color: rgba(47, 48, 58, 0.8);
}



/*end ПОЗИЦІОНУВАННЯ ТЕКСТУ ПОВЕРХ ЗОБРАЖЕНЬ*/
.activity-list {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.activity-list img {
	display: block;
}
/*END ЧЕМ МЫ ЗАНИМАЕМСЯ*/

/*НАША КОМАНДА*/

.team {
	padding-top: 94px;
	padding-bottom: 94px;

	background: var(--team-bg);
}

.team  h2 {
	text-align: center;
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}

.team-item {
	padding-bottom: 30px;

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	background-color: var(--primary-bg-color);

}

.team-item > img {
	display: block;
	margin-bottom: 30px;
}

.team h3 {
	text-align: center;
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}
.team p {
	text-align: center;

	font-weight: 400;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);

	margin-bottom: 16px;
}

.team-list {
	display: flex;
	justify-content: space-between;
}

/*----------------------*/





.social-list-team a {
	display: flex;
	padding: 0;
}


.social-list-team {
	display: flex;
	justify-content: space-between;
	padding-left: 32px;
	padding-right: 32px;
}


.social-list-team li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
}

.social-list-team a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: #ffffff;
	fill: var(--icon-team-color);

	transition-property: background-color, fill;
	transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
}

.social-list-team a:focus,
.social-list-team a:hover {
	background-color: var(--hero-button-bg);
	fill: var(--hero-text-color);
}

/*regular-customers*/


.regular-customers {
	padding-top: 94px;
	padding-bottom: 94px;
}

.regular-customers h2 {
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;

	color: var(--primary-text-color);
}

.regular-customers-list {
	display: flex;
	justify-content: space-between;
}


.regular-customers-list  a {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 170px;
	height: 90px;
	border: 1px solid var(--icon-team-color);
	box-sizing: border-box;
	border-radius: 4px;
	fill:  #AFB1B8;
	cursor: pointer;

	transition-property: border-color, fill;
	transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
}

.regular-customers-list a:focus,
.regular-customers-list a:hover {
	border-color: var(--hero-button-bg);
	fill: var(--hero-button-bg);
}
/*end regular-customers*/

/*FOOTER*/

footer {
	padding-top: 60px;
	padding-bottom: 60px;


	background: var(--secondary-bg-color);
}

.logo-footer > img {
	display: block;
}

.logo-footer {
	display: block;
	width: 145px;

	padding-top: 6px;
	padding-bottom: 5px;
	margin-bottom: 20px;

}


.addres > a {
	display: block;

	font-style: normal;
	text-decoration: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.03em;
	color: var(--hero-text-color);
}
.contacts-mail > a,
.contacts-tell > a  {
	display: block;

	font-style: normal;
	text-decoration: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.03em;
	color:rgba(255, 255, 255, 0.6);
	;
}

.footer-contacts > li:not(:last-child) {
	margin-bottom: 9px;
}

/*----------------*/

.addres-box {
	width: 231px;
}

.footer-box {
	display: flex;
}

.social-links {
	margin-left: 70px;
	width: 206px;
}

.social-links > p {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #FFFFFF;

	margin-top: 12px;
	margin-bottom: 20px;
}

.icon {
	fill: var(--hero-text-color);
}

.social-list {
	display: flex;
	justify-content: space-between;
}



.social-list > li {
	display: flex;
	justify-content: center;
   align-items: center;
	width: 44px;
	height: 44px;
}

.social-list a {
	display: flex;
	justify-content: center;
   align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: var(--icon-footer-bg);

	transition-property: background-color;
	transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
}

.social-list a:focus,
.social-list a:hover {
	background-color: var(--hero-button-bg);
}



/*---------------------*/


/*стилизация портфолио*/

/*ФИЛЬТР*/

#main-portfolio {
	padding-top: 94px;
	padding-bottom: 94px;
}

.filters {
	display: flex;
	justify-content: center;
}

.filters li {
	display: flex;
	margin-bottom: 50px;
}

.filters li:not(:last-child) {
	margin-right: 8px;
}

a.activ {
	color: var(--acent-text-color-navigation);
}
.filters a {
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);

	background: var(--filter-bg-color);
	border-radius: 4px;
	padding: 6px 22px;

	transition-property: color, box-shadow, background;
	transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
}

.filters a:hover,
.filters a:focus {		

	color: var(--hero-text-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	background: var(--acent-text-color-navigation);

}

/*END ФИЛЬТР*/

/* НАШИ ПРОЕКТЫ*/



.project-list {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.project-card {
	box-sizing: border-box;
	width: 370px;
}

.project-card img {
	display: block;
}

.project-card a {
	text-decoration: none;
}
/*--*/
.project-image {
	position: relative;
	overflow: hidden;
}

.project-image-overlay {
	position: absolute;
	transform: translateY(100%);

	top: 0;
	left: 0;

	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 63px 24px;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;
	background-color: rgba(33, 150, 243, 0.9);
	color: var(--hero-text-color);

	transition-property: transform;
	transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
}

.project-card > a:focus .project-image-overlay,
.project-card > a:hover  .project-image-overlay {
	transform: translateY(0);
}
/*--*/
.project-content {
	padding: 20px 24px;
	
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}

.project-name {
	margin-bottom: 4px;

	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--primary-text-color);

}
.project-type {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
}

.project-card:not(:nth-last-child(-n + 3)) {
	margin-bottom: 30px;
}

.project-card > a {
	display: block;
	width: 100%;
	height: 100%;

	transition-property: box-shadow;
	transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;
	
}

.project-card > a:focus,
.project-card > a:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* END НАШИ ПРОЕКТЫ*/